<b>Conditions</b>
<div id="fdConnectionConditions"></div>
<div class="container-options">
    <select id="fdConnectionConditionUnion">
      <option value="0">OR</option>
      <option value="1">AND</option>
    </select>
    <label for="fdConnectionConditionUnion">union conditions rule</label>
</div>