<b>Operation Control</b>
<div id="fdConnectionOperationals" class="container-body">

</div>
<div class="container-options">
  <input id="fdConnectionInversion" type="checkbox" />
  <label for="fdConnectionInversion">Inversion Operation Controls</label>
</div>
