<div class="multiField">
  <% control[:options].each_with_index do |option, cbno| %>
    <label class="inlineLabel">
        <%= check_box_tag "",
                          option,
                          former_control_selected?(control, option),
                          former_control_identifiers(control, cbno)
        %>
        <span><%= option %></span>
    </label>
  <% end %>
</div>
