<div id="<%= dom_id(@user, :study_roles_index)%>">
  <div class="data_area">
    <br/>
		<div class="data_area_sidebar" style="float:left; width:200px;">
      <%= render :partial => "study_users" %>
    </div>
		<div class="data_area_content" style="width:600px;">
      <%= render :partial => "show" %>
		</div>
  </div>
  <div style="clear:both;"></div>
</div>
