/* -- WeeklyBuilder -- */
/* layout */
#week{background:#FFF;width:742px;height:100%;border:1px solid #ccc;overflow:hidden;}
#days{width:100%;}
#day, #day_today
{height:100px;width:95px;border-right:1px solid #8F8F8F;border-top:1px solid #ccc;padding:2px 5px 0px 5px;float:left}

#day_today
{
  background-color: #FFFF99;
}


#day_content
{
    padding: 15px 0px 15px;
    width: 100%;
    height: 100%;
    text-align: center;
}
