<div class="block-container" style="border-color:LimeGreen;">
  <div class="title">Add Study</div>
  <%= link_to_close(new_admin_study_path) %>
  <div id="study" class="input-form crud-form">
  <% remote_form_for @study, :url => admin_studies_path do |f| %>
    <%= render :partial => "admin/admin_studies/form", :locals => {:f => f} %>
  <% end %>
  </div>
</div>
